	body {
		text-align: center;
		min-width: 1000px;
		padding: 20px;
		background-color: #F28F26;
		font-family: Arial;
	}
	
/*  the below styles take on the wrapper color  */
	#wrapper {
		width: 900px;
		position: relative;
		background-color: #008542;		
		border: 4px solid white;
	}	
	
	#branding {
		background-image:url('header.jpg');
		height: 200px;
	}
	
	#brand {
		color: white;
		float: left;
		padding-left: 3%;
		padding-top: 64px;
		font-size: 28px;
		font-weight: bold;
	}
	
	#brandsub {
		color: white;
		float: left;
		padding-left: 3%;
		font-size: 18px;
		font-weight: bold;
	}
	
	#br {
		float:none;
		clear:left;
	}
		
	#mainNav {
		width: 100%;
		padding-bottom: 4px;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
	}
	
	.menuCell {
		width: 16%;		
		float: left;
		font-weight: bold;
	}
	
	.menuCell a:link {color: #FFFFFF;}
	.menuCell a:visited {color: #FFFFFF;}
	.menuCell a:hover {color: #0000FF;}
	.menuCell a:active {color: #000000;}
	
	#footer {
		clear: both;
		padding: 4px;
	}	

/*  All below styles take on the content color  */		
	#content {
		width: 100%;
		float: left;
		background-color: #EEEEEE;
	}
	
	#mainContent {
		width: 100%;
		text-align: left;
		padding-top: 10px;
		padding-left: 10px;
	}
	
	#mainIndexContent {
		width: 60%;
		float: left;
		text-align: left;
		padding-top: 10px;
		padding-left: 10px;
	}
	
	#secondaryIndexContent {
		width: 38%;
		float: right;
		text-align: left;
		padding-top: 10px;
		padding-left: 10px;
	}